.chat-main  
  .chat-main__header
    .header__items
      .header__items--name
        = @group.name
        .header__items--member
          Member:
          - @group.group_users.each do |group_user|
            = group_user.user.name
      .header__edit
        = link_to edit_group_path(@group), class: "header__edit--icon"  do
          Edit   
    .contens__message-list
      = render @messages
    .chat-main__footer
      .imagebox__text
        .new_message        
          = form_for [@group, @message] do |f|
            .imagebox__input-icon
              = f.text_field :content, class: 'imagebox__text-input', placeholder: 'type a message'
              = f.label :image, class: 'imagebox__text-icon' do
                = icon('far', 'file-image')
              = f.file_field :image, class: 'input-image-box'
            = f.submit 'Send', class: 'submit-btn'